@model IEnumerable<PROG7311_ST10375622_part2.Models.Farmer>

@{
    ViewData["Title"] = "Index";
}

<h1>Farmer Profile</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<div class="container">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center">
        @foreach (var item in Model)
        {
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card h-100 shadow-sm border-0" style="background-color: #66BB6A">
                    <div class="card-body">
                        <h2 class="card-title text-primary" style="text-align:center">@item.Name</h2>
                        <p class="card-text"><strong>Description:</strong> @item.Description</p>
                        <p class="card-text"><strong>Email:</strong> @item.Email</p>
                        <p class="card-text"><strong>Location:</strong> @item.Location</p>
                        <p class="card-text"><strong>Phone:</strong> @item.Phone</p>
                        <p class="card-text"><strong>Type:</strong> @item.TypeOfFarmer</p>
                    </div>
                    <div class="card-footer bg-transparent border-0">
                        <a asp-action="Edit" asp-route-id="@item.FarmerId" class="btn btn-sm btn-outline-primary">Edit</a>
                        <a asp-action="Details" asp-route-id="@item.FarmerId" class="btn btn-sm btn-outline-info">Details</a>
                        <a asp-action="Delete" asp-route-id="@item.FarmerId" class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>